.master {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-input {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

textarea {
    width: calc(100% - 40px);
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

.add-button {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.saved-notes {
    width: 100%;
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.saved-notes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow: auto;
}

.saved-notes .note {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.note-content {
    max-height: 100px;
    overflow-y: auto;
}


.note-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.edit-button {
    background-color: #ffc107;
    color: black;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.note-buttons button:hover {
    opacity: 0.8;
}



